@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
html, body {
	color: white;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.topHeader {
	text-align: center;
	font-size: 5em;
	height: 120px;
	width: 100%;
	background: #000;
}

.main-grid {
	background: #000;
	width: 1080px;
	height: 1920px;
}

.tile {
	position: absolute;
	border: 1px solid #555;
	margin: 4px;
}

.w-one-third {
	width: 350px;
}
.w-one-half {
	width: 530px;
}
.w-two-thirds {
	width: 710px;
}
.w-full {
	width: 1070px;
}

.h-one-fifth {
	height: 350px;
}
.h-two-fifths {
	height: 710px;
}
.h-three-fifths {
	height: 1070px;
}
.h-four-fifths {
	height: 1430px;
}
.w-full {
	height: 1790px;
}



/* Bigger than 550 */
@media (min-width: 550px) {

}
@media (max-width: 550px) {

}
/* Bigger than 750 */
@media (min-width: 750px) {
 
}

/* Bigger than 1000 */
@media (min-width: 1000px) {

}